.drum-pad {
      position: relative;
      float: left;
      width: 100px;
      height: 80px;
      margin-right: 10px;
      border-radius: 5px;
      line-height: 80px;
    //   padding-top: 35px;
      box-sizing: border-box;
      cursor: pointer;
      background-color: grey;
      margin-top: 10px;
      box-shadow: black 3px 3px 5px;
    }